body{
    /* background-color: aquamarine; */
    margin: 0px;
    padding: 0px;
}
.full-container{
    width:100%;
  
   
  }
  video {
      width: 100%;
    }
    /* .carousel-container {
      position: relative;
      width:100%;
  
    } */
    .carousel-indicators {
      position: absolute;
      text-align: center;
      color:red  !important;
      /* background-color: aqua  !important; */
      /* float: right; */
      /* right: 2% !important; */
      /* left: inherit; */
       /* top:500px !important; */
  }
  .carousel-indicators li{
    color:red;
  }
  .my-indicators .carousel-indicators li {
  color: red; 
  }
  .carousel-indicator.active {
    background-color: red;
  }
  .carousel-indicator:not(.active) {
    background-color: darkred;
  }
  
  .carousel-item-padding{
      padding-right:2px;
      padding-left: 2px;
      }
      /* .carousel-item-padding:nth-child(1){
          padding-right:0px;
          } */
      /* .arrow {
          background-color: blue;
          border: none;
          color: white;
          font-size: 24px;
          margin: 0 10px;
          outline: none;
          padding: 10px;
          cursor: pointer;
        } */
      
      
      
      
      
        
        /* .react-multiple-carousel__arrow {
          position:absolute;
          color:"blue"
      } */
      
      .react-multiple-carousel__arrow--left {
          left: calc(-1% + 5px);
          color:red;
      }
      
      .react-multiple-carousel__arrow--right {
          right: calc(-1% + 5px)
      }
      /* .react-multiple-carousel__arrow--right{
          border:"none";
          size:"20px"
      }  */
      
      
      
      .react-multiple-carousel__arrow {
          background-color:white;
          border-radius: 10%;
          /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
          color: pink;
          cursor: pointer;
          height: 50px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50px;
          border-color: aliceblue;
        }
      
      
        
      .react-multiple-carousel__arrow:hover {
          /* background-color:white;
          border-radius: 10%; */
          /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
          /* color:pink;
          cursor: pointer;
          height: 50px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50px; */
          /* border-color: aliceblue; */
      }
        /* .react-multiple-carousel__arrow:active {
          background-color:pink;
          border-radius: 10%;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          color: #333;
          cursor: pointer;
          height: 5px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
        } */
      
        .react-multiple-carousel__arrow::before {
          color:black;
        }
      
      
        .react-multiple-carousel__arrow:focus {
          /* outline: none; */
        }
        

        /* css */

        .carousel-item-padding{
          padding-right:2px;
          padding-left: 2px;
          }
          /* .carousel-item-padding:nth-child(1){
              padding-right:0px;
              } */
          /* .arrow {
              background-color: blue;
              border: none;
              color: white;
              font-size: 24px;
              margin: 0 10px;
              outline: none;
              padding: 10px;
              cursor: pointer;
            } */
          
          
          
          
          
            
            /* .react-multiple-carousel__arrow {
              position:absolute;
              color:"blue"
          } */
          
          .react-multiple-carousel__arrow--left {
              left: calc(-1% + 5px);
              color:red;
          }
          
          .react-multiple-carousel__arrow--right {
              right: calc(-1% + 5px)
          }
          /* .react-multiple-carousel__arrow--right{
              border:"none";
              size:"20px"
          }  */
          
          
          
          .react-multiple-carousel__arrow {
              background-color:white;
              border-radius: 10%;
              /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
              color: pink;
              cursor: pointer;
              height: 50px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 50px;
              border-color: aliceblue;
            }
          
          
            
          .react-multiple-carousel__arrow:hover {
              /* background-color:white;
              border-radius: 10%; */
              /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
              /* color:pink;
              cursor: pointer;
              height: 50px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 50px; */
              /* border-color: aliceblue; */
          }
            /* .react-multiple-carousel__arrow:active {
              background-color:pink;
              border-radius: 10%;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
              color: #333;
              cursor: pointer;
              height: 5px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 5px;
            } */
          
            .react-multiple-carousel__arrow::before {
              color:black;
            }
          
          
            .react-multiple-carousel__arrow:focus {
              /* outline: none; */
              /* background-color: aqua; */
            }
            .image-section{
              position:relative;
              width:100%;
              height:100%;
            }
            .firstSlide{
              text-align: center;
              align-content: center;
              left:47%;
              font-size:20px;
              /* top:90%;
              left:50%;
              transform: translate(-50%,-50%); */
              color:#1E2F97;
              bottom:25px;
            }
            .topfirstSlide{
              text-align: center;
              align-content: center;
              left:40%;
              font-size:20px;
              /* top:90%;
              left:50%;
              transform: translate(-50%,-50%); */
              color:#1E2F97;
              bottom:1px;

            }
            @media screen and (max-width: 480px) {
              .image-section{
                height:100%;
              }
            .full-div{
              background-color: aqua;
            
            }
            
        }


        /* features css */


        .flexbox-container-two{
          display:flex;
          flex-direction: row;
          width:100%;
          margin: auto;
          flex-wrap: wrap;
          /* we can give anyting here based on mocks */
          justify-content: space-around;
      }
      .item-section-two{
          flex-basis:30%;
              border: 1px solid #FAB1B1;
              border-radius: 20px;
              margin-top:60px;
              /* box-shadow:  2px lightgrey; */
            /* text-align: center; */
       
      }
      
      
      @media screen and (max-width: 480px) {
          .flexbox-container-two{
              display:flex;
              flex-direction: column;
              width:100%;
          }
      
          .item-section-two{
              flex-basis:100%;
          }
          
      
      }


      /* mission css */


      
      .flexbox-container-three{
        display:flex;
        flex-direction: row;
        width:100%;
        margin: auto;
        flex-wrap: wrap;
        /* we can give anyting here based on mocks */
        justify-content: space-around;
    }
    .item-section-three{
        flex-basis:30%;
            /* border: 1px solid #FAB1B1; */
            border-radius: 20px;
            margin-top:50px;
            /* padding: 30px; */
            /* margin-bottom:50px; */

            /* box-shadow:  2px lightgrey; */
          /* text-align: center; */
     
    }
    .bottoms-section{
      margin-top: 50px;
    }
    
    
    @media screen and (max-width: 480px) {
        .flexbox-container-three{
            display:flex;
            flex-direction: column;
            width:100%;
        }
    
        .item-section-three{
            flex-basis:100%;
        }
        
    
    }


    /* carousel css */

    .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
  visibility: hidden;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 40px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: black;
}

    
    
      
      
      /* mission css */

      .content-flexbox-container{
        display:flex;
        flex-direction: row;
        gap:30px;
      }

      .content-flexbox-container-two{
        display:flex;
        flex-direction: row;
        gap:30px;
      }

      .content-flexbox-container-three{
        display:flex;
        flex-direction: row;
        gap:30px;
      }



      /* why ayatana css */

      
      .flex-box-container-seven{
        display:flex;
        flex-direction: row;
        width:100%;
        margin: auto;
        flex-wrap: wrap;
        /* we can give anyting here based on mocks */
        justify-content: space-around;
    }
    .item-section-seven{
        flex-basis:30%;
            /* border: 1px solid #FAB1B1; */
            border-radius: 20px;
            margin-top:40px;
            /* box-shadow:  2px lightgrey; */
          /* text-align: center; */
     
    }

    .service-flexbox-container{
      display:flex;
      flex-direction: row;
      gap:30px;
    }
    
    
    @media screen and (max-width: 480px) {
        .flexbox-container-seven{
            display:flex;
            flex-direction: column;
            width:100%;
        }
    
        .item-section-seven{
            flex-basis:100%;
        }
        
    
    }